### Loops

Flow Control: Flow control in programming refers to the mechanisms and
structures used to manage the order of execution of statements or instructions in
a program. It allows you to make decisions, repeat actions, and control the flow
of your program based on certain conditions.

#### For Loop

A "for loop" is a control flow statement in programming that allows you to repeatedly
execute a block of code a specific number of times or iterate over a sequence of
elements (such as a list, string, array, range of numbers or any iterable object).
In Python, the "for loop" is used for iterating over sequences like lists, strings,
dictionaries, and more.

In [ ]:
# syntax
# for <var_name> in <sequence>:
    # <code_block>

In [1]:
# print the number from 1 to 10
for num in range(1, 11):  # for loop executes 10 number of times
    print(num)

1
2
3
4
5
6
7
8
9
10

In [2]:
my_str = 'Python'
for char in my_str: # this loop will execute 6 times
    print(char)

P
y
t
h
o
n

In [6]:
# Q1. Take a number from the user and prints all the number from 1 to that number
num = int(input('Enter a number: '))  # num = 5
# o/p --> 1, 2, 3, 4, 5
for n in range(1, num + 1):
    print(n)

Enter a number:  7

1
2
3
4
5
6
7

In [36]:
# Q2. print only even numbers from 1 to user given number
num = int(input('Enter a number: ')) 

for n in range(1, num + 1):   
    if n % 2 == 0:
        print(n)

Enter a number:  7

2
4
6

In [ ]:
# this program takes the previous value of n and prints that
num = int(input('Enter a number: ')) # num = 7

for num in range(1, n + 1):   # 1 --> n = 6, num = 6
    if num % 2 == 0:
        print(n)

In [37]:
# to check the variables in the current session
%whos

Variable   Type    Data/Info
----------------------------
char       str     n
my_str     str     Python
n          int     7
num        int     7

In [33]:
del n

In [34]:
del num

In [22]:
print(num)

6

In [23]:
print(n)

6

In [29]:
n = 13

In [40]:
# Q3. print the even numbers and their squares from 2 to user given number
# o/p:
# 2 --> 4
# 4 --> 16
# 6 --> 36

num = int(input('Enter a number: '))

for n in range(1, num + 1):
    if n % 2 == 0:
        # print(n, ' --> ', n ** 2)
        print(f'{n} --> {n ** 2}')

Enter a number:  10

2 --> 4
4 --> 16
6 --> 36
8 --> 64
10 --> 100

In [42]:
# Q4. Sum of Natural Numbers
# Write a program to find the sum of all numbers from 1 to user given number.

num = int(input('Enter a number: ')) # num = 5
s = 0                                # s = 0
for n in range(1, num + 1):          # n = 5   (1, 2, 3, 4, 5)
    s += n                          # s = 15
#    s = s + n
print(s)
print(n)

Enter a number:  5

15
5

In [ ]:
# NOTE:
# Variables defined in a for loop or an if block are not confined to those blocks. They are accessible outside the block because 
# Python does not have block-level scoping like some other languages (e.g., C++ or Java).
# A variable declared inside a for loop or if statement belongs to the same function or global scope in which it is declared.

In [54]:
# Code debugging 

# code 1

# below code is trying to print the number and it's double from 1 to 

start = 1
end = 10

for i in range(start, end)  # error(colon is missing)
    result = i * 2
    print("The double of", i, "is", result)

result = result + 5     
print("Final result:", result)

SyntaxError: expected ':' (3709334383.py, line 10)

In [46]:
if 5 > 4:
    my_var = 'Something'

In [47]:
print(my_var)

Something

In [51]:
del result

In [56]:
# code 2
# there is no error, add brackets on line 7
total = 0

for i in range(1, 10):
    for j in range(i, 5): 
        total += i + j
        print("i:", i, "j:", j, "Total:", total)

    print("Loop finished for i =", i)

print("Grand Total:", total)

i: 1 j: 1 Total: 2
i: 1 j: 2 Total: 5
i: 1 j: 3 Total: 9
i: 1 j: 4 Total: 14
Loop finished for i = 1
i: 2 j: 2 Total: 18
i: 2 j: 3 Total: 23
i: 2 j: 4 Total: 29
Loop finished for i = 2
i: 3 j: 3 Total: 35
i: 3 j: 4 Total: 42
Loop finished for i = 3
i: 4 j: 4 Total: 50
Loop finished for i = 4
Loop finished for i = 5
Loop finished for i = 6
Loop finished for i = 7
Loop finished for i = 8
Loop finished for i = 9
Grand Total: 50

In [59]:
factorial = 1
num = 5

for i in range(1, num + 1):
    factorial = factorial * i

    if i > num:
    print("Factorial:", factorial)

IndentationError: expected an indented block after 'if' statement on line 7 (3194473952.py, line 8)

In [1]:
# Q5. find the length of given string
# len() functions counts the number of object's in another object
# str --> it returns the lenght of the string(number of chars)
len('Python')

6

In [2]:
# list --> it returns the number of items present in the list
len([1, 2, 3, 4, 5])

5

In [5]:
%whos

Variable   Type    Data/Info
----------------------------
my_str     str     Python

In [7]:
# take string as input 
# counts the number of char in the string by using loop
# find how many iterations we performed 
# print the count of iterations

my_str = input('Enter a string: ')

count_itr = 0

for char in my_str:
    print(char)
    count_itr += 1
    print(count_itr)

print(f'length of the {my_str} is {count_itr}')

Enter a string:  Python

P
1
y
2
t
3
h
4
o
5
n
6
length of the Python is 6

In [12]:
# Q6. Reverse a given string

my_str = input('Enter a string: ')

rev_str = ''

for char in my_str:
    rev_str = char + rev_str

print(rev_str)

nohtyP

In [18]:
# Q7. Python program to check if the given string is a palindrome
# madam --> is a palindrome
# madam

# pop --> is a palindrome
# pop

# racecar  --> is a palindrome
# racecar

# python  --> not a palindrome
# nohtyp


my_str = input('Enter a string in lowercase: ')

rev_str = ''

for char in my_str:
    rev_str = char + rev_str

if my_str == rev_str:
    print(f'{my_str} is a palindrome string')
else:
    print(f'{my_str} is not a palindrome string')

Enter a string in lowercase:  madam

madam is a palindrome string

In [20]:
# Q8. Print a multiplication table of a given number
# 7 * 1 = 7
# 7 * 2 = 14
# 7 * 3 = 21
# .
# .
# .
# 7 * 10 = 70


num = int(input('Enter a number: '))

for i in range(1, 11):
    print(f'{num} * {i} = {num * i}')

Enter a number:  456

456 * 1 = 456
456 * 2 = 912
456 * 3 = 1368
456 * 4 = 1824
456 * 5 = 2280
456 * 6 = 2736
456 * 7 = 3192
456 * 8 = 3648
456 * 9 = 4104
456 * 10 = 4560