### String
In Python, a string is a data type used to represent a sequence of characters. It is one
of the built-in data types and is commonly used for working with textual data. Python
strings are typically enclosed within either single quotes (') or double quotes (").

Strings are immutable(can not change)

In [4]:
# Using single quotes
my_string_single = 'This is a string using single quotes.'
# Using double quotes
my_string_double = "This is a string using double quotes."
# You can also use triple quotes for multi-line strings
multi_line_string = '''This is a multi-line string.
It spans multiple lines and uses triple quotes.'''

#### Multi-line comment Vs multi-line string

In [1]:
'''This is 
multi line 
comment.
When we do not 
store this in a variable
at that time it is 
a multi line comment'''

'This is \nmulti line \ncomment.\nWhen we do not \nstore this in a variable\nat that time it is \na multi line comment'

In [2]:
multi_line_str = '''
This is an example
of multiline string.
A string in triple quotes 
stored in a variable
is a multi line string'''

In [3]:
print(multi_line_str)

This is an example
of multiline string.
A string in triple quotes
stored in a variable
is a multi line string

#### concatenation(+)
joining two or more chars/strings using + operator

In [5]:
'Hello' + ' ' + 'world!'

'Hello world!'

In [6]:
first_name = 'Alice'
last_name = 'Johnson'

In [8]:
full_name = first_name + ' ' + last_name
full_name

'Alice Johnson'

#### Repetition (*): 
The * operator allows you to repeat a string a specified number of times

In [39]:
word = "Python"
word * 3

'PythonPythonPython'

#### Slicing
Slicing is the extraction of a substring from a string.

Slicing allows you to extract a portion of a string. You can specify a start index,
an end index, and an optional step value.

##### Accessing chars by index

In [9]:
# indexing
# it's a position of chars
# index starts from 0

In [10]:
# chars --> H e l l o
# indices ->0 1 2 3 4

In [11]:
my_str = 'Python'

In [12]:
# syntax to access the chars by using index
# <var_name>[<index>]

In [13]:
my_str[0]

'P'

In [14]:
my_str[1]

'y'

In [15]:
my_str[2]

't'

In [ ]:
# negative indexing
# negative indexing starts from the end char of the string

#  0  1  2  3  4   <-- positive indexing
#  H  e  l  l  o
# -5 -4 -3 -2 -1  <-- negative indexing

In [24]:
new_str = "Hello"

In [27]:
new_str[-4]

'e'

In [28]:
new_str[-1]

'o'

##### string slicing

In [16]:
my_str

'Python'

In [17]:
# syntax
# <var_name>[start : end : step]
# end is exclusive

In [18]:
my_str[2 : 5]

'tho'

In [19]:
# yth
my_str[1 : 4]

'yth'

In [21]:
# Pto
my_str[ : : 2]

'Pto'

In [ ]:
# default indices
# when step is positive
# start --> 0
# end --> end of string

# when step is negative
# start --> -1
# end --> start of the string

In [29]:
# 'tho'
my_str[-4 : -1]

'tho'

In [30]:
# yth
my_str[-5 : -2]

'yth'

In [32]:
# Pto
my_str[-6 : -1 : 2]

'Pto'

In [33]:
# printing a string in reverse order
my_str[ : : -1]

'nohtyP'

In [35]:
my_str

'Python'

##### String Length: 
To find the length (the number of characters) of a string, you can use
the len() function:

In [37]:
my_str

'Python'

In [36]:
len(my_str)

6

##### Iterating Over Characters: 
You can use a for loop to iterate over each character in a
string

In [38]:
some_str = "Hello, World!"
for char in some_str:
    print(char)

H
e
l
l
o
,

W
o
r
l
d
!

In [40]:
# iterating by indices
for i in range(len(my_str)):
    print(my_str[i])

P
y
t
h
o
n

In [41]:
for char in my_str:
    print(char)

P
y
t
h
o
n

##### Membership (in and not in): 
You can use the in operator to check if a substring exists
within a string. The not in operator checks if a substring is not present.

In [1]:
sentence = "This is a sample sentence."
check1 = "sample" in sentence
check2 = "not" not in sentence
# check1 will be True, check2 will be True

In [2]:
check1

True

In [3]:
check2

True

##### String Formatting (% or .format()): 
Python allows you to format strings using
placeholders and substitution values. You can use the % operator (old-style formatting)
or the .format() method (preferred in modern Python) for string formatting.

In [4]:
name = "Alice"
age = 30
formatted_str_1 = "My name is %s, and I am %d years old." % (name, age)
# formatted_str will be "My name is Alice, and I am 30 years old."
formatted_str_2 = "My name is {}, and I am {} years old.".format(name, age)
# formatted_str will be "My name is Alice, and I am 30 years old."
formatted_str_3 = f"My name is {name}, and I am {age} years old."

In [5]:
formatted_str_1

'My name is Alice, and I am 30 years old.'

In [6]:
formatted_str_2

'My name is Alice, and I am 30 years old.'

In [7]:
formatted_str_3

'My name is Alice, and I am 30 years old.'

##### String Comparison (==, !=, <, <=, >, >=): 
You can compare strings using these
operators to check for equality or perform lexicographic (dictionary-style) comparisons.

In [8]:
str1 = "apple"
str2 = "banana"
str1 == str2 # False

False

In [9]:
str1 < str2

True

In [10]:
'Apple' < 'apple'

True

In [12]:
'hello' < 'hellm'

False

##### Traversing a String
Traversing a string means iterating through each character in the string one by one. You
can use various methods to traverse a string in Python, including for loops, while loops,
and indexing. Here are examples of different ways to traverse a string:
Using a for Loop: You can use a for loop to iterate through each character in a string

##### Using a for Loop: You can use a for loop to iterate through each character in a string

In [13]:
for char in str1:
    print(char)

a
p
p
l
e

In [14]:
for i in range(len(str1)):
    print(str1[i])

a
p
p
l
e

##### Using a while Loop with Indexing: 
You can also use a while loop with indexing to
traverse a string:

In [15]:
i = 0
while i < len(str1):
    print(str1[i])
    i += 1

a
p
p
l
e

#### Examples

In [31]:
# Q.1 create a function that accepts a word from the user and reverses it.

def reverse_str(my_str):
    # 1. use slicing
    # return my_str[ : : -1]

    # using while loop
    rev_str = ''
    i = 0
    while i < len(my_str):
        rev_str = my_str[i] + rev_str
        i += 1
    return rev_str

In [32]:
my_str = input('Enter a string: ')
reverse_str(my_str)

Enter a string:  Hello

'olleH'

In [36]:
# lab Q1. Write a Python program to count the occurrences of each word in a
# given sentence
string = "To change the overall look of your document. To change the lookavailable in the gallery"

for word in set(string.split()):
    print(word, string.count(word))

look 2
the 3
in 1
lookavailable 1
document. 1
of 1
gallery 1
To 2
your 1
overall 1
change 2

In [43]:
# lab Q2. Write a Python program to remove a newline in Python
string = "\nBest \nDeeptech \nPython \nTraining\n"
new_str = ''

for char in string:
    if char not in '\n':
        new_str += char

new_str

'Best Deeptech Python Training'

In [46]:
string.replace('\n', '')

'Best Deeptech Python Training'

In [51]:
# lab Q3. Write a Python program to reverse words in a string
string = 'Deeptech Python Training'

def rev_word(word):
    return word[ : : -1]

rev_word_str = ''

for word in string.split():
    rev_word_str += rev_word(word) + ' '

rev_word_str

'hcetpeeD nohtyP gniniarT '

In [55]:
# lab Q4. Write a Python program to count and display the vowels of a given text
vowels = 'aeiou'
vowel_cnt = {}
for char in string:
    if char.lower() in vowel_cnt:
        vowel_cnt[char.lower()] += 1
    elif char.lower() in vowels:
        vowel_cnt[char.lower()] = 1

print(vowel_cnt)

{'e': 2, 'o': 3, 'a': 1, 'i': 2}

### String methods

In [56]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [57]:
my_str = 'Hello, World!'

In [58]:
# 1. capitalize
# it make the first char of a string to upper case and rest char to lower case
my_str.capitalize()

'Hello, world!'

In [59]:
'PYTHON'.capitalize()

'Python'

In [60]:
# 2. count
# it counts the occurence of a substring into a string
my_str.count('l')

3

In [61]:
my_str.count('ll')

1

In [62]:
my_str.count('Hello')

1

In [63]:
my_str.count('Apple')

0

In [72]:
# 3. find
# it returns the lowest index of a substring within a string
# if substring not found in string, returns -1
my_str.find('o')

4

In [73]:
my_str.find('o', 5)

8

In [74]:
my_str.find('llo')

2

In [75]:
my_str.find('xyz')

-1

In [77]:
# 4. index
# it returns the lowest index of a substring within a string
# if substring not found in string, Raises ValueError
my_str.index('o')

4

In [78]:
my_str.index('o', 5)

8

In [79]:
my_str.index('llo')

2

In [80]:
my_str.index('xyz')

ValueError: substring not found

In [81]:
help(str.lower)

Help on method_descriptor:

lower(self, /) unbound builtins.str method
    Return a copy of the string converted to lowercase.

In [82]:
my_str

'Hello, World!'

In [83]:
# 5. isalnum
# it return True if the given string is alphanumeric False otherwise
my_str.isalnum()

False

In [84]:
'hello_123'.isalnum()

False

In [85]:
'hello123'.isalnum()

True

In [86]:
# 6. isdigit
# it return True if the given string is digits only False otherwise
my_str.isdigit()

False

In [87]:
'123'.isdigit()

True

In [88]:
'123.456'.isdigit()

False

In [89]:
# 7. islower
# it return True if the given string is in lower case False otherwise
my_str.islower()

False

In [90]:
'python'.islower()

True

In [91]:
# 8. isupper
# it return True if the given string is in upper case False otherwise
my_str.isupper()

False

In [92]:
'PYTHON'.isupper()

True

In [93]:
help(str.join)

Help on method_descriptor:

join(self, iterable, /) unbound builtins.str method
    Concatenate any number of strings.

    The string whose method is called is inserted in between each given string.
    The result is returned as a new string.

    Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [95]:
# 9. join
# it concatenates the list of chars/words togethor
' '.join(['This', 'is', 'python', 'class'])

'This is python class'

In [96]:
'-'.join(['This', 'is', 'python', 'class'])

'This-is-python-class'

In [97]:
# 10. lstrip
# it returns a new string with removed spaces from left
'       Python class      '.lstrip()

'Python class      '

In [98]:
# 11. rstrip
# it returns a new string with removed spaces from right
'       Python class      '.rstrip()

'       Python class'

In [99]:
# 12. rstrip
# it returns a new string with removed spaces from both the sides
'       Python class      '.strip()

'Python class'

In [100]:
# 13. split
# it returns a list of char/words splitted on a delimeter
my_str

'Hello, World!'

In [101]:
my_str.split()

['Hello,', 'World!']

In [102]:
my_str.split('o')

['Hell', ', W', 'rld!']

In [103]:
# 14. lower 
# it converts all the char of a string to lower case
my_str.lower()

'hello, world!'

In [104]:
# 15. upper 
# it converts all the char of a string to upper case
my_str.upper()

'HELLO, WORLD!'

In [105]:
my_str

'Hello, World!'

In [106]:
# 16. title
# it converts all the char of a string to title case
my_str.title()

'Hello, World!'

In [107]:
'python class'.title()

'Python Class'

In [108]:
# 17. replace
# it replaces all oocurences the substring with a new substring withing a string and returns a new string
# it does not modify the original string(strings are immutable)
my_str.replace('l', 'j')

'Hejjo, Worjd!'

In [109]:
my_str.replace('Hello', 'Hii')

'Hii, World!'

In [110]:
my_str

'Hello, World!'

#### string formatting

In [111]:
# we can use f string to format the strings
name = 'Alice'
age = 24
score = 78.563656

In [118]:
print(f'I am {name}, I am {age} years old. And my score is {score:.2f}')

I am Alice, I am 24 years old. And my score is 78.56

#### Examples

In [122]:
# Example 1: Split a string on hyphens

str1 = "Emma-is-a-data-scientist"
print("Original String is:", str1)

# split string
sub_strings = str1.split("-")

print("Displaying each substring")
for sub in sub_strings:
    print(sub)

Original String is: Emma-is-a-data-scientist
Displaying each substring
Emma
is
a
data
scientist

In [123]:
# Example 2: Remove number From a String in Python

input_string = "Hello12345World"

new_str = ''

for char in input_string:
    if not char.isdigit():
        new_str += char

new_str

'HelloWorld'

In [126]:
# lab Q1. Write a Python program to Count all letters, digits, and special
# symbols from the given string
input_str = "P@#yn26at^&i5ve"
# Output: Chars = 8 Digits = 3 Symbol = 4

# to check alphabets --> isalpha()
# to check digits --> isdigits()
# special symbols --> else

alpha = 0
digits = 0
symbols = 0

for char in input_str:
    if char.isalpha():
        alpha += 1
    elif char.isdigit():
        digits += 1
    else:
        symbols += 1

print(f'Chars = {alpha} Digits = {digits} Symbol = {symbols}')

Chars = 8 Digits = 3 Symbol = 4

In [132]:
# lab Q2. Write a Python program to remove duplicate words of a given string.
input_str = "String and String function and function python"
# Output: String and Function

new_str = ''

for word in input_str.split():
    if word not in new_str:
        new_str += word + ' '

new_str

'String and function python '

In [135]:
# lab Q3. Write a Python program to count Uppercase, Lowercase, special
# character and numeric values in a given string
input_str = "Hell0 W0rld ! 123 * # welcome to pYtHoN"
# Output:
# UpperCase : 5  <-- isupper()
# LowerCase : 18  <-- islower()
# Numbers : 5     <-- isdigit()
# Special : 11    <-- else


upper_cnt = 0
lower_cnt = 0
digit_cnt = 0
symbol_cnt = 0

for char in input_str:
    if char.isupper():
        upper_cnt += 1
    elif char.islower():
        lower_cnt += 1
    elif char.isdigit():
        digit_cnt += 1
    else:
        symbol_cnt += 1

print(f'upper_cnt = {upper_cnt}\nlower_cnt = {lower_cnt}\ndigit_cnt = {digit_cnt}\nsymbol_cnt = {symbol_cnt}')

upper_cnt = 5
lower_cnt = 18
digit_cnt = 5
symbol_cnt = 11

In [133]:
# lab Q4. Write a Python Count vowels in a string
input_str = "Welcome to Python Assignment"
# Output: Total vowels are: 8
vowels = 'aeiou'
count = 0
for char in input_str:
    if char.lower() in vowels:
        count += 1

print(count)

8